$background-color: rgb(35, 35, 35);

$background-gray: rgb(35, 35, 35);
$accent-back-gray: #505050;
$accent-front-gray: #aaaaaa;

$background-blue: rgb(36, 30, 40);
$accent-back-blue: #2163a1;
$accent-front-blue: #74c0ec;

$background-red: rgb(30, 30, 40);
$accent-back-red: #940a4f;
$accent-front-red: #f97bba;

body,
.themeDefault {
  --background-color: #{$background-gray};
  --accent-color-front: #{$accent-front-gray};
  --accent-color-back: #{$accent-back-gray};
}
.themeBlue {
  --background-color: #{$background-blue};
  --accent-color-front: #{$accent-front-blue};
  --accent-color-back: #{$accent-back-blue};
}
.themeRed {
  --background-color: #{$background-red};
  --accent-color-front: #{$accent-front-red};
  --accent-color-back: #{$accent-back-red};
}

@media print {
  /* All your print styles go here */
  header,
  footer,
  nav {
    display: none !important;
  }
  body {
    color: black !important;
    max-width: 100% !important;
  }
  a::after {
    content: " (" attr(href) ") ";
  }
}

html {
  font-size: 62.5%;
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background-color: var(--background-color);

  font-family: monospace;
  line-height: 1.4;
  font-size: 1.6rem;
  overflow-wrap: break-word;

  max-width: 64ch;
  min-height: 100%;
  margin: auto;
}

.mainmenu {
  div {
    display: inline-block;
  }
}

@media screen and (min-width: 77em) {
  .table-of-contents {
    display: block;
    position: fixed;
    left: 2ch;
    top: 1.4em;
    width: 30ch;
    overflow-wrap: break-word;
  }
}

.decorative-ascii {
  color: var(--accent-color-back);
  overflow: hidden;
  white-space: nowrap;
}

h1 {
  font-size: 2em;
  background-color: var(--accent-color-back);
  font-weight: bolder;
}

.date {
  font-weight: bold;
}

h2 {
  margin-top: 1.4em;
  font-size: 1em;
  background-color: var(--accent-color-back);
  font-weight: bolder;

  a {
    color: white;
  }
}

h3 {
  margin-top: 1.4em;
  margin-left: 1ch;
  font-size: 1em;
  background-color: var(--accent-color-back);
  font-weight: normal;
}

img {
  vertical-align: middle;
}

figure {
  max-width: 100%;
  text-align: center;
  margin: 1.4em 1ch 1.4em 1ch;

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;

  
  }

  figcaption {
    font-style: italic;
    text-align: left;
  }
}

.landmark {
  .map-pin {
    float: left;
    padding-right: 2ch;
  }
}

.youtube {
  position: relative;
  width: 100%;
  height: 0;
  padding-bottom: 56.25%;

  iframe {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }
}

p {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

a {
  text-decoration: none;
  color: var(--accent-color-front);
}

ul {
  li::before {
    content: "  > ";
  }
  padding-inline-start: 0;
  list-style: none;
  margin: 1.4em 0 1.4em 1ch;
}

pre {
  overflow: scroll;
}

.artwork {
  max-width: 100%;
  max-height: 100%;
}

.gallery {
  margin: 0;
  li {
    vertical-align: top;
    display: inline-block;
    width: 100%;
  }
  @media screen and (min-width: 49em) {
    margin: 1.4em 0 1.4em 1ch;
    li {
      width: 31ch;
    }
  }
}

.thumbnail {
  width: 100%;
}

.cv-portrait {
  width: 12ch;
  float:right;
  padding: 0em 1ch 0em 1ch;
}

.comment {
  border-width: 0em 0ch 0em 1ch;
  border-style: double;
  border-color: var(--accent-color-back);
  min-height: 4.2em;
  .comment-avatar {
    float:left;
    width: 6ch;
  }
  .comment-text {
    float:left;
    padding: 0em 0ch 0em 1ch;
  }
}