$background-color: rgb(35, 35, 35);
$accent-color-back: #721242;
$accent-color-front: #f97bba;

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background-color: $background-color;

  font-family: monospace;
  font-size: 1rem;
  line-height: 1.4;
  overflow-wrap: break-word;

  max-width: 60ch;
  min-height: 100%;
  margin: auto;
}

.decorative-ascii {
  color: $accent-color-back;
}

.table-of-contents {
  @media screen and (max-width: 150ch) {
    display: none;
  }
  position: fixed;
  left: 2ch;
  top: 1.4em;
  width: 30ch;
  overflow-wrap: break-word;
}

h1 {
  font-size: 2rem;
  background-color: $accent-color-back;
  font-weight: bolder;
}

.date {
  font-weight: bold;
}

h2 {
  font-size: 1rem;
  background-color: rgba($accent-color-back, 0.4);
  font-weight: bolder;
}

h3 {
  font-size: 1rem;
  font-weight: bold;
}

figure {
  max-width: 100%;
  text-align: center;
  margin: auto;
  padding: 1ch;

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    font-style: italic;
    text-align: left;
  }
}

.landmark {
  .map-pin {
    float: left;
    padding-right: 2ch;
  }
}

p {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

a {
  text-decoration: none;
  color: $accent-color-front;
}

ul {
  list-style: none;
}

section {
  ul {
    li::before {
      content: "  > ";
    }
    padding-inline-start: 1ch;
  }
}

.artwork {
  max-width: 100%;
  max-height: 100%;
}

.gallery {
  li {
    display: inline-block;
    width: 28ch;
  }
  .thumbnail {
    width: 90%;
  }
}
