$background-color: rgb(35, 35, 35);
$accent-color-back: #721242;
$accent-color-front: #f97bba;

@media print {
  /* All your print styles go here */
  header,
  footer,
  nav {
    display: none !important;
  }
  body {
    color: black !important;
    max-width: 100% !important;
  }
  a::after {
    content: " (" attr(href) ") ";
  }
}

* {
  margin: 0;
  padding: 0;
  border: 0;
}

body {
  color: white;
  background-color: $background-color;

  font-family: monospace;
  font-size: 1rem;
  line-height: 1.4;
  overflow-wrap: break-word;

  max-width: 60ch;
  min-height: 100%;
  margin: auto;
}

.decorative-ascii {
  color: $accent-color-back;
}

.table-of-contents {
  display: none;

  @media screen and (min-width: 150ch) {
    display: block;
    position: fixed;
    left: 2ch;
    top: 1.4em;
    width: 30ch;
    overflow-wrap: break-word;
  }
}

h1 {
  font-size: 2em;
  background-color: $accent-color-back;
  font-weight: bolder;
}

.date {
  font-weight: bold;
}

h2 {
  font-size: 1em;
  background-color: rgba($accent-color-back, 0.5);
  font-weight: bolder;
}

h3 {
  margin-top: 1.4em;
  font-size: 1em;
  background-color: rgba($accent-color-back, 0.25);
  font-weight: bold;
}

figure {
  max-width: 100%;
  text-align: center;
  margin: auto;
  padding: 1.4em 1ch 1.4em 1ch;

  img {
    display: inline-block;
    max-width: 100%;
    max-height: 100%;
  }

  figcaption {
    font-style: italic;
    text-align: left;
  }
}

.landmark {
  .map-pin {
    float: left;
    padding-right: 2ch;
  }
}

p {
  margin-top: 1.4em;
  margin-bottom: 1.4em;
}

a {
  text-decoration: none;
  color: $accent-color-front;
}

ul {
  li::before {
    content: "  > ";
  }
  padding-inline-start: 0;
  list-style: none;
  padding: 1.4em 0 1.4em 1ch;
}

.artwork {
  max-width: 100%;
  max-height: 100%;
}

.gallery {
  li {
    display: inline-block;
    width: 28ch;
  }
  .thumbnail {
    width: 90%;
  }
}
