{% extends "page.html" %}

{% block content %}
<h1>{{ page.title }}{% if page.year %} ({{ page.year }}){% endif %}</h1>
<p class="date">{{ page.date }}</p>
<p><emph>{{ page.description }}</emph></p>
<nav>{% include "include/tags.html" %}</nav>
<nav>{% include "include/series.html" %}</nav>
<nav>{% include "tableOfContents/h1.html" %}</nav>
<div aria-hidden="true" class="decorative-ascii">
  ----------------------------------------------------------------------
</div>

{{ page.content | safe }} {% endblock content %}
