{% set menu = config.extra.menu_items -%}
<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <title>Lauri Tervonen</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body>
    <header>
      <nav>
        <a href="../"><<</a>
        {% for link in menu %}/ <a href="{{ link.url }}">{{ link.name }}</a> /{%
        endfor %}
      </nav>
      <div class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
        ////////////////////////////////////////////////////////////
      </div>
    </header>
    <section>{% block content %} {% endblock %}</section>
    {% include "includes/tableOfContents.html" %}
    <footer id="bottom">
      <div class="decorative-ascii">
        ////////////////////////////////////////////////////////////
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
    </footer>
  </body>
</html>
