{% set menu = config.extra.menu_items -%}

{% if page %}
  {% set sectionName = page.ancestors | last %}
  {% set section = get_section(path=sectionName) %}
{% endif %}

{% if section and section.extra.theme %}
  {% set theme = section.extra.theme %}
{% else %}
  {% set theme = "themeGreen" %}
{% endif %}

<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no">
    {% block metadata %} {% endblock %}
    <link rel="stylesheet" href="/style.css">
    <link rel="icon" type="image/x-icon" sizes="16x16" href="/favicon-{{ theme }}.ico">
    {% if theme == "themeGreen" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#25533b">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#232323">
    {% endif %}
    {% if theme == "themeBlue" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#2163a1">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#281e24">
    {% endif %}
    {% if theme == "themeRed" %}
      <meta name="theme-color" media="(prefers-color-scheme: light)" content="#940a4f">
      <meta name="theme-color" media="(prefers-color-scheme: dark)" content="#1e1e28">
    {% endif %}
  </head>

  <body
    {% if section.extra.theme %}
      class="{{ section.extra.theme }}"
    {% else %}
      class="themeDefault"
    {% endif %}
  >
    <header>
      <nav class="themeDefault mainmenu">
        <div><a href="../">&lt;&lt;</a></div>
        {% for link in menu %}<div>/&nbsp;<a
            {% if link.theme %}
              class="{{ link.theme }}"
            {% else %}
              class="themeDefault"
            {% endif %}
            href="{{ link.url }}"
            >{{ link.name }}</a>&nbsp;/</div>{% endfor %}
      </nav>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        //////////////////////////////////////////////////////////////////////
      </div>
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer id="bottom">
      <div aria-hidden="true" class="decorative-ascii">
        //////////////////////////////////////////////////////////////////////
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
    </footer>
  </body>
</html>
