{% set menu = config.extra.menu_items -%}
<!DOCTYPE html>
<!--    #############    -->
<!--    #           #    -->
<!--    #######     #    -->
<!--    #     #     #    -->
<!--    # #   #     #    -->
<!--    #     #     #    -->
<!--    #######     #    -->
<!--    #           #    -->
<!--    ##########  #    -->
<!--    #  #  #  #  #    -->
<!--    #############    -->
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta
      name="viewport"
      content="width=device-width, initial-scale=1, maximum-scale=1, user-scalable=no"
    />
    <title>Lauri Tervonen</title>
    <link rel="stylesheet" href="/style.css" />
  </head>

  <body
    {%
    if
    section.extra.theme
    %}class="{{ section.extra.theme }}"
    {%
    else
    %}class="themeDefault"
    {%
    endif
    %}
  >
    <header>
      <nav class="themeDefault">
        <a href="../"><<</a>
        {% for link in menu %}/
        <a
          {%
          if
          link.theme
          %}class="{{ link.theme }}"
          {%
          else
          %}class="themeDefault"
          {%
          endif
          %}
          href="{{ link.url }}"
          >{{ link.name }}</a
        >
        /{% endfor %}
      </nav>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        //////////////////////////////////////////////////////////////////////
      </div>
    </header>
    <section>{% block content %} {% endblock %}</section>
    <footer id="bottom">
      <div aria-hidden="true" class="decorative-ascii">
        //////////////////////////////////////////////////////////////////////
      </div>
      <div aria-hidden="true" class="decorative-ascii">
        \\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\\
      </div>
    </footer>
  </body>
</html>
