{% extends "base.html" %} {% block content %}
<h1>{{ page.title }} ({{ page.year }})</h1>
<p class="date">{{ page.date }}</p>

{% if page.toc %}
<nav class="table-of-contents">
  <div class="decorative-ascii">=====--------------------=====</div>
  <ul>
    <li><a href="#top">↑</a></li>
    {% for h1 in page.toc %}
    <li>
      <a href="{{ h1.permalink | safe }}">{{ h1.title }}</a>
      {% if h1.children %}
      <ul>
        {% for h2 in h1.children %}
        <li>
          <a href="{{ h2.permalink | safe }}">{{ h2.title }}</a>
        </li>
        {% endfor %}
      </ul>
      {% endif %}
    </li>
    {% endfor %}
    <li><a href="#bottom">↓</a></li>
  </ul>
  <div class="decorative-ascii">=====--------------------=====</div>
</nav>
{% endif %} {{ page.content | safe }} {% endblock content %}
