{% extends "section.html" %} 

{% block content %}
<h1 class="title">{{ section.title }}</h1>

<nav>{% include "tableOfContents/year.html" %}</nav>

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2 id="year-{{ year }}">{{ year }}</h2>
<ul>
  {% for page in posts %} 
  {% set languages = page | get(key="taxonomies", default=[]) | get(key="Language", default=[]) | sort -%}
  <li>
    <a href="{{ page.permalink | safe }}">{{ page.date }} {% for term in languages %}{% if term == "Suomi" %}🇫🇮{% endif %}{% if term == "English" %}🇺🇸{% endif %}{% endfor %} {{ page.title }}</a>
    <p>{{ page.description }}</p>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock content %}
