<div class="table-of-contents">
  <div aria-hidden="true" class="decorative-ascii">
    =====--------------------=====
  </div>
  <ul>
    {% for ss in section.subsections %} {% set subsection = get_section(path=ss)
    %}
    <li>
      <a href="#subsection-{{ subsection.components | last | safe }}"
        >{{ subsection.components | last | capitalize | safe }}</a
      >
      {% endfor %}
    </li>
  </ul>
  <div aria-hidden="true" class="decorative-ascii">
    =====--------------------=====
  </div>
</div>
