{% extends "base.html" %} {% block content %}
<h1 class="title">{{ section.title }}</h1>

<nav>{% include "tableOfContents/year.html" %}</nav>

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2 id="year-{{ year }}">{{ year }}</h2>
<ul>
  {% for page in posts %} 
  <li>
    {{ page.date }} {% if page.extra.language == "Suomi" %}🇫🇮{% endif %}{% if page.extra.language == "English" %}🇺🇸{% endif %} <a href="{{ page.permalink | safe }}">{{ page.title }}</a>
    <p>{{ page.description }}</p>
  </li>
  {% endfor %}
</ul>
{% endfor %}

{% endblock content %}
