{% extends "base.html" %} {% block content %}
<h1>{{ section.title }}</h1>
<nav>{% include "tableOfContents/year.html" %}</nav>

{% for year, posts in section.pages | group_by(attribute="year") %}
<h2 id="year-{{ year }}">{{ year }}</h2>
<ul class="gallery">
  {% for page in posts %}
  <li>
    <a href="{{ page.permalink | safe }}">
      {{ page.title }} ({{ page.year }}) {% for asset in page.assets %} {%- if
      asset is matching(page.extra.image) -%} {% set image =
      resize_image(path=asset, width=400, height=400, op="fit") %}
      <img class="thumbnail" src="{{ image.url }}">
      {% endif %} {% endfor %}
    </a>
  </li>
  {% endfor %}
</ul>
{% endfor %} {% endblock content %}
